#past {
	padding: 60px 0;
    /* background-color: azure; */
}
#past h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#past h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 'bold';
}
#past h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}
#past .past-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#past .past-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #5ca9fb;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#past img {
	width: 300px;
	margin-top: 10px;
	background: #fff;
	/* border-right: 0; */
	/* box-shadow: 0 0 50px rgba(0,0,0,0.06); */
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}